<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- inputs -->
  
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-list-header mode="ios"> 
        <ion-label>Bir soru sor</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Başlık <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" placeholder="Sorununuzu kısa bir biçimde özetleyin."></ion-input>
      </ion-item>

      <ion-item>
        <quill-editor [(ngModel)]="htmlText"
        placeholder="Lütfen sorununuzu buraya yazınız."></quill-editor>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Etiket <ion-text color="danger">*</ion-text></ion-label>
        <tag-input  
              [placeholder]="'yeni bir etiket girin'"
              [secondaryPlaceholder]="'örneğin: javascript'"
              [onlyFromAutocomplete]="true"
              theme='foundation-theme'>
            <tag-input-dropdown [showDropdownIfEmpty]="false" 
                                [(autocompleteItems)]='autocompleteFields'>
            </tag-input-dropdown>
        </tag-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" class="ion-no-margin" (click)="deneme()">Sorunuzu Gönderin</ion-button>
    </div>
  <!--#inputs -->

</ion-content>
