<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header mode="ios">
      Son Konuşmalar
    </ion-list-header>

    <ion-item *ngFor="let item of conversation" routerLink="/board/message/{{item.User.UserID}}/{{item.User.Fullname}}">
      <ion-avatar slot="start">
        <img src="{{API_URL}}{{item.User.AvatarImage}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.User.Fullname}}</h2>
        <h3>@{{item.User.Username}}</h3>
        <p>{{item.LatestMessage}}...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
