<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/board/create-group">
        <ion-icon name="add-sharp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header mode="ios" *ngIf="groups.length > 0">
      Grup Konuşmaları
    </ion-list-header>

    <ion-item *ngFor="let group of groups" routerLink="/board/group-message/{{group.GroupID}}/{{group.GroupName}}/{{currentUserID}}">
      <ion-avatar slot="start">
        <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y">
      </ion-avatar>
      <ion-label>
        <h2>{{group.GroupName}}</h2>
        <p>{{group.LatestMessage}}...</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header mode="ios">
      Son Konuşmalar
    </ion-list-header>

    <ion-item *ngFor="let item of conversation" routerLink="/board/message/{{item.User.UserID}}/{{item.User.Fullname}}">
      <ion-avatar slot="start">
        <img src="{{API_URL}}{{item.User.AvatarImage}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.User.Fullname}}</h2>
        <h3>@{{item.User.Username}}</h3>
        <p>{{item.LatestMessage}}...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
