<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <!-- title -->
      <ion-row>
        <ion-col size="12">
          <h3>Kullanıcılar</h3>
        </ion-col>
      </ion-row>
      <!--#title -->

      <!-- search and filter -->
      <ion-row>
        <ion-col size="12" size-md>
          <ion-searchbar mode="ios" animated placeholder="bir kullanıcı adı giriniz." (ionChange)="filterText($event)"></ion-searchbar>
        </ion-col>
        <ion-col size="12" size-md class="ion-align-self-center">
          <ion-segment color="dark" mode="ios" value="{{defaultSegment}}" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="popular">
              <ion-label>Popüler</ion-label>
            </ion-segment-button>
            <ion-segment-button value="asc">
              <ion-label>A-Z</ion-label>
            </ion-segment-button>
            <ion-segment-button value="new">
              <ion-label>Yeni</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!--#search and filter -->

      <!-- users area -->      
      <ion-row>
        <!-- user -->
        <ion-col size="12" size-md>
            <ion-list>
              <ion-item *ngFor="let user of users | userFilter : textFilter" (click) = "presentAlertConfirm(user.UserID, user.Fullname)">
                <ion-avatar slot="start">
                  <img src="{{API_URL}}{{user.AvatarImage}}">
                </ion-avatar>
                <ion-label>
                  <h2>{{user.Fullname}}</h2>
                  <p>@{{user.Username}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
        </ion-col>
        <!-- user -->
      </ion-row>
      <!--#users area -->      
    </ion-grid>
</ion-content>
