#question-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    .times {
        span {
            padding-right: 10px;
            font-size:13px;
            //font-weight: 400;

            span {
                color: #797979;
            }
        }
    }

    .tags {
        padding-top:15px;
        margin-left: -5px;
    }
}

.question-content {
    .post-layout {
        display:grid;
        grid-template-columns: max-content 1fr;
        .votecell {
            grid-column: 1;
            vertical-align: top;
            .voting-container {
                background-color: #f3f3f3;
                height: 100%;
                display:flex;
                flex-direction: column !important;
                text-align: center;
                color:#656565;
                font-weight: 500;
                ion-button.icon-button {
                    --background: none;
                    --background-hover:none;
                    --background-activated:none;
                    color:#b9b9b9;
                }

                ion-button.check-mark {
                    font-size:18px;
                }
            }
            
        }
        .postcell {
            grid-column: 2;
            vertical-align: top;
            font-size:15px;
        }

        .post-layout-left {
            width: auto;
            padding-right: 16px;
        }

        .post-layout-right {
            padding-right: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
            width: auto;
            min-width: 0;
        }
    }
}

.from-user {
    border-top:1px solid #ededed;
    border-bottom:1px solid #ededed;
    ion-label {
        h3 {
            font-weight: 700!important;
            color: #0077cc;
        }

        p {
            color: #6b6b6b;
        }
    }
    ion-note {
        --color: #2d2d2d;
    }
}

.asker {
    background: #e6f4ff;
    
    ion-label {
        h3 {
            font-weight: 700!important;
            color: #0077cc;
        }

        p {
            color: #345169;
        }
    }
    ion-note {
        --color: #4c79a0;
    }
}

ion-toolbar.answer {
    --background: #f9f9f9;

}

.editor-area {
    height: 350px;
    overflow: auto;
    quill-editor {
        width: 100%;
        
    }
}

@media only screen and (max-width: 375px) {
    .from-user {
        ion-label {
            h3 {
                font-size:11px !important;
            }
    
            p {
                font-size:11px !important;
            }
        }
        ion-note {
            font-size:11px !important;
        }
    }
}

.solved-container {
    background-color: #0fb952!important;
}

.solved-white {
    color: #fff!important;
}