<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- question -->
  <div class="question">
    <!-- question header -->
    <div id="question-header">
      <div class="headline"><h3>Why is processing a sorted array faster than processing an unsorted array?</h3></div>
      <div class="times">
        <span>7 yıl 9 ay önce <span>soruldu</span></span>
        <span>7 gün önce <span>son aktivite</span></span>
        <span>1.500 <span>kere görüntülendi</span></span>
      </div>
      <div class="tags">
        <ion-chip color="primary">
          <ion-label>c++</ion-label>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>java</ion-label>
        </ion-chip>
      </div>
    </div>
    <!--#question header -->

    <!-- question content -->
    <div class="question-content">
      <div class="post-layout">
        <div class="votecell post-layout-left">
          <div class="voting-container">
            <ion-button mode="ios" class="icon-button"><ion-icon slot="icon-only" name="caret-up-outline"></ion-icon></ion-button>
            <ion-label>1240</ion-label>
            <ion-button mode="ios" class="icon-button"><ion-icon slot="icon-only" name="caret-down-outline"></ion-icon></ion-button>
          </div>
        </div>
        <div class="postcell post-layout-right" [innerHtml]="code"></div>
      </div>
    </div>
    <div class="from-user asker">
      <ion-item color="none" lines="none">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>Hasan Can Özkan</h3>
          <p><b>1453</b> Puan</p>
        </ion-label>
        <ion-note slot="end" mode="md">2 Nisan 2020 22:24 <br>tarihinde sordu</ion-note>
      </ion-item>
    </div>
    <!--#question content -->
  </div>
  <!--#question -->


  <!---------------- ANSWERS ---------------------->

  <ion-toolbar class="answer">
    <ion-title>26 Cevap</ion-title>
  </ion-toolbar>

  <div class="answer">
    <!-- question content -->
    <div class="question-content">
      <div class="post-layout">
        <div class="votecell post-layout-left">
          <div class="voting-container">
            <ion-button mode="ios" class="icon-button"><ion-icon slot="icon-only" name="caret-up-outline"></ion-icon></ion-button>
            <ion-label>0</ion-label>
            <ion-button mode="ios" class="icon-button"><ion-icon slot="icon-only" name="caret-down-outline"></ion-icon></ion-button>
            <ion-button mode="ios" class="icon-button check-mark"><ion-icon name="checkmark-circle-sharp"></ion-icon></ion-button>
          </div>
        </div>
        <div class="postcell post-layout-right">
          Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.


        </div>
      </div>
    </div>
    <div class="from-user">
      <ion-item color="none" lines="none">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar">
        </ion-avatar>
        <ion-label>
          <h3>Eray Özkan</h3>
          <p><b>10</b> Puan</p>
        </ion-label>
        <ion-note slot="end" mode="md">2 Nisan 2020 22:24 <br>tarihinde cevapladı</ion-note>
      </ion-item>
    </div>
    <!--#question content -->
  </div>

  <div class="answer">
    <!-- question content -->
    <div class="question-content">
      <div class="post-layout">
        <div class="votecell post-layout-left">
          <div class="voting-container">
            <ion-button mode="ios" class="icon-button"><ion-icon slot="icon-only" name="caret-up-outline"></ion-icon></ion-button>
            <ion-label>0</ion-label>
            <ion-button mode="ios" class="icon-button"><ion-icon slot="icon-only" name="caret-down-outline"></ion-icon></ion-button>
            <ion-button mode="ios" class="icon-button check-mark"><ion-icon name="checkmark-circle-sharp"></ion-icon></ion-button>
          </div>
        </div>
        <div class="postcell post-layout-right">
          Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.


        </div>
      </div>
    </div>
    <div class="from-user">
      <ion-item color="none" lines="none">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar">
        </ion-avatar>
        <ion-label>
          <h3>Eray Özkan</h3>
          <p><b>10</b> Puan</p>
        </ion-label>
        <ion-note slot="end" mode="md">2 Nisan 2020 22:24 <br>tarihinde cevapladı</ion-note>
      </ion-item>
    </div>
    <!--#question content -->
  </div>

  <!----------------#ANSWERS ---------------------->


  <!-- POST YOUR ANSWER -->
  <ion-toolbar class="answer">
    <ion-title>Yorumunuzu yazın</ion-title>
  </ion-toolbar>
  <div class="editor-area">
    <quill-editor [(ngModel)]="htmlText"
    placeholder="Lütfen sorununuzu buraya yazınız."></quill-editor>
  </div>
  <div class="ion-no-padding">
    <ion-button expand="full" mode="ios" class="ion-no-margin">Cevabınızı Gönderin</ion-button>
  </div>
  <!--#POST YOUR ANSWER -->
</ion-content>
