<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- question -->
  <div class="question">
    <!-- question header -->
    <div id="question-header">
      <div class="headline"><h3>{{ Question.Title }}</h3></div>
      <div class="times">
        <span>{{ Question.CreateDate }} <span>soruldu</span></span>
        <span>{{ Question.UpdateDate }} <span>son aktivite</span></span>
        <span>{{ Question.View }} <span>kere görüntülendi</span></span>
      </div>
      <div class="tags">
        <ion-chip color="primary" *ngFor="let tag of Question.Tags">
          <ion-label>{{ tag.TagName }}</ion-label>
        </ion-chip>
      </div>
    </div>
    <!--#question header -->

    <!-- question content -->
    <div class="question-content">
      <div class="post-layout">
        <div class="votecell post-layout-left">
          <div class="voting-container">
            <ion-button mode="ios" class="icon-button" (click) = "numericOperation(Question.QuestionID, 'question', 'increase', 'Reputation')"><ion-icon slot="icon-only" name="caret-up-outline"></ion-icon></ion-button>
            <ion-label>{{ Question.Reputation }}</ion-label>
            <ion-button mode="ios" class="icon-button" (click) = "numericOperation(Question.QuestionID, 'question', 'descrease', 'Reputation')"><ion-icon slot="icon-only" name="caret-down-outline"></ion-icon></ion-button>
          </div>
        </div>
        <div class="postcell post-layout-right" [innerHtml]="Question.Content"></div>
      </div>
    </div>
    <div class="from-user asker">
      <ion-item color="none" lines="none" routerLink = "/board/profile/{{Question.User.UserID}}">
        <ion-avatar slot="start">
          <img src="{{API_URL}}{{Question.User.AvatarImage}}">
        </ion-avatar>
        <ion-label>
          <h3>{{Question.User.Fullname}}</h3>
          <p><b>{{Question.User.Reputation}}</b> Puan</p>
        </ion-label>
        <ion-note slot="end" mode="md">{{ Question.CreateDateString }} <br>tarihinde sordu</ion-note>
      </ion-item>
    </div>
    <!--#question content -->
  </div>
  <!--#question -->


  <!---------------- ANSWERS ---------------------->

  <ion-toolbar class="answer">
    <ion-title>{{ Question.AnswerCount }} Cevap</ion-title>
  </ion-toolbar>

  <div class="answer" *ngFor="let answer of Question.Answers; let i = index">
    <!-- question content -->
    <div class="question-content">
      <div class="post-layout">
        <div class="votecell post-layout-left">
          <div [class]="Question.Status == '1' && answer.Status == '1' ? 'voting-container solved-container' : 'voting-container'">
            <ion-button [class]="Question.Status == '1' && answer.Status == '1' ? 'icon-button solved-white' : 'icon-button'" mode="ios" (click) = "numericOperation(answer.AnswerID, 'answer', 'increase', 'Reputation', i)"><ion-icon slot="icon-only" name="caret-up-outline"></ion-icon></ion-button>
            <ion-label [class]="Question.Status == '1' && answer.Status == '1' ? 'solved-white' : ''">{{ answer.Reputation }}</ion-label>
            <ion-button [class]="Question.Status == '1' && answer.Status == '1' ? 'icon-button solved-white' : 'icon-button'" mode="ios" (click) = "numericOperation(answer.AnswerID, 'answer', 'descrease', 'Reputation', i)"><ion-icon slot="icon-only" name="caret-down-outline"></ion-icon></ion-button>
            <ion-button *ngIf = "Question.Status == '0' && currentUserID == Question.User.UserID" (click) = "markSolved(answer.AnswerID, Question.QuestionID)" mode="ios" class="icon-button check-mark"><ion-icon name="checkmark-circle-sharp"></ion-icon></ion-button>
            <ion-button *ngIf = "Question.Status == '1' && answer.Status == '1'" mode="ios" class="icon-button check-mark"><ion-icon class="solved-white" name="checkmark-circle-sharp"></ion-icon></ion-button>
          </div>
        </div>
        <div class="postcell post-layout-right" [innerHtml]="answer.Content">
          
        </div>
      </div>
    </div>
    <div class="from-user">
      <ion-item color="none" lines="none" routerLink = "/board/profile/{{answer.User.UserID}}">
        <ion-avatar slot="start">
          <img src="{{API_URL}}{{answer.User.AvatarImage}}">
        </ion-avatar>
        <ion-label>
          <h3>{{answer.User.Fullname}}</h3>
          <p><b>{{answer.User.Reputation}}</b> Puan</p>
        </ion-label>
        <ion-note slot="end" mode="md">{{answer.CreateDateString}} <br>tarihinde cevapladı</ion-note>
      </ion-item>
    </div>
    <!--#question content -->
  </div>

  <!----------------#ANSWERS ---------------------->


  <!-- POST YOUR ANSWER -->
  <ion-toolbar class="answer">
    <ion-title>Yorumunuzu yazın</ion-title>
  </ion-toolbar>
  <div class="editor-area">
    <quill-editor [(ngModel)]="answerPostData.Content"
    placeholder="Lütfen sorununuzu buraya yazınız."></quill-editor>
  </div>
  <div class="ion-no-padding">
    <ion-button [disabled] = "answerPostData.Content ? false : true" expand="full" mode="ios" class="ion-no-margin" (click) = "addAnswer()">Cevabınızı Gönderin</ion-button>
  </div>
  <!--#POST YOUR ANSWER -->
</ion-content>
