<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- header -->
    <ion-grid class="total-question-bar">
      <ion-row>
        <ion-col size="6">
          <!-- title -->
          <h3>Tüm Sorular</h3>
          <!--#title -->
        </ion-col>
        <ion-col class="ion-align-self-center">
          <div class="ion-text-end" style="margin-right:8px">
            <ion-button color="primary" size="small">Bir Soru Sor</ion-button>
            <ion-button color="medium" size="small" (click)="showFilter()">Filtrele</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="filter-area" *ngIf="isShowFilter">
        <ion-col size="12" size-md>
          <div class="ion-text-center"><b>Durum</b></div>
          <div class="filter-items">
            <div class="filter-item">
              <div class="filter-item-checkbox"><ion-checkbox></ion-checkbox></div>
              <div class="filter-item-text">Cevaplanmayanlar</div>
            </div>
            <div class="filter-item">
              <div class="filter-item-checkbox"><ion-checkbox></ion-checkbox></div>
              <div class="filter-item-text">Kabul edilmemiş cevaplar</div>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-md>
          <div class="ion-text-center"><b>Sırala</b></div>
          <div class="filter-items">
            <div class="filter-item" *ngFor="let filterItem of filterItems; let i = index">
              <div class="filter-item-checkbox"><ion-checkbox></ion-checkbox></div>
              <div class="filter-item-text">{{filterItem.display}}</div>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-md>
          <div class="ion-text-center"><b>Takip Edilen</b></div>
          <div class="filter-items">
            <div class="filter-item">
              <div class="filter-item-checkbox"><ion-checkbox></ion-checkbox></div>
              <div class="filter-item-text">İzlediğim Etiketler</div>
            </div>
            <div class="filter-item">
              <div class="filter-item-checkbox"><ion-checkbox></ion-checkbox></div>
              <div class="filter-item-text">Aşağıdaki Etiketler</div>
            </div>
            <div class="filter-item">
              <tag-input  [ngModel]="[]" 
                          [placeholder]="'yeni bir etiket girin'"
                          [secondaryPlaceholder]="'örneğin: javascript'"
                          [onlyFromAutocomplete]="true"
                          theme='foundation-theme'>
                  <tag-input-dropdown [showDropdownIfEmpty]="false" 
                                      [(autocompleteItems)]='autocompleteFields'>
                  </tag-input-dropdown>
              </tag-input>
            </div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="ion-text-end">
            <ion-button color="dark" size="small" (click)="applyFilter()">Filtreyi Uygula</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7">
          <p>Toplam <b>1.250</b> adet soru</p>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <div class="ion-text-end" style="margin-right:8px">
            <ion-segment mode="ios" style="margin-right:15px;margin-bottom:10px;" value="interest">
              <ion-segment-button value="interest">
                <ion-label>Yeni</ion-label>
              </ion-segment-button>
              <ion-segment-button value="hot">
                <ion-label>Aktif</ion-label>
              </ion-segment-button>
              <ion-segment-button value="week">
                <ion-label>Cevaplanmamışlar</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--#header -->

    <!-- questions -->
    <ion-list lines="full">
      <!-- question -->
      <ion-item>
        <div class="question">
          <div class="question-mobile">
            <div class="reputation-bar-mobile votes">
              <span>1000</span> oy
            </div>
            <div class="reputation-bar-mobile answers answered">
              <span>1000</span> cevap
            </div>
            <div class="reputation-bar-mobile views">
              <span>1000</span> görüntüleme
            </div>
          </div>
          <div class="question-left col-md-6">
            <div class="row1">
              <div class="reputation-bar votes">
                <div class="mini-counts"><span>1000</span></div>
                <div>oy</div>
              </div>
              <div class="reputation-bar answers answered">
                <div class="mini-counts"><span>1000</span></div>
                <div>cevap</div>
              </div>
            </div>
            <div class="row2">
              <div class="reputation-bar views">
                <div class="mini-counts"><span>1000</span></div>
                <div>görüntüleme</div>
              </div>
            </div>
          </div>
          <div class="question-right col-md-6">
            <ion-text color="primary" routerLink="/login" style="cursor:pointer">
              <h5>Generate select options using page titles</h5>
            </ion-text>
            <p style="font-size:11px">
              Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
            </p>
            <div class="question-tags">
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
            </div>
            <div class="question-asked-by">
              <ion-text color="danger">wicked</ion-text> tarafından <ion-text color="medium">3 dakika önce</ion-text> soruldu.
            </div>
          </div>
        </div>
      </ion-item>
      <!--#question -->
      <!-- question -->
      <ion-item>
        <div class="question">
          <div class="question-mobile">
            <div class="reputation-bar-mobile votes">
              <div class="mini-counts"><span>10</span> oy</div>
            </div>
            <div class="reputation-bar-mobile answers solved">
              <div class="mini-counts"><span>92</span> cevap</div>
            </div>
            <div class="reputation-bar-mobile views">
              <div class="mini-counts"><span>760</span> görüntüleme</div>
            </div>
          </div>
          <div class="question-left col-md-6">
            <div class="row1">
              <div class="reputation-bar votes">
                <div class="mini-counts"><span>10</span></div>
                <div>oy</div>
              </div>
              <div class="reputation-bar answers solved">
                <div class="mini-counts"><span>92</span></div>
                <div>cevap</div>
              </div>
            </div>
            <div class="row2">
              <div class="reputation-bar views">
                <div class="mini-counts"><span>760</span></div>
                <div>görüntüleme</div>
              </div>
            </div>
          </div>
          <div class="question-right col-md-6">
            <ion-text color="primary" routerLink="/login" style="cursor:pointer">
              <h5>Generate select options using page titles</h5>
            </ion-text>
            <p style="font-size:11px">
              Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.
            </p>
            <div class="question-tags">
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
              <ion-chip routerLink="/signup" color="primary">
                <ion-label>Default</ion-label>
              </ion-chip>
            </div>
            <div class="question-asked-by">
              <ion-text color="danger">wicked</ion-text> tarafından <ion-text color="medium">3 dakika önce</ion-text> soruldu.
            </div>
          </div>
        </div>
      </ion-item>
      <!--#question -->
    </ion-list>
    <!--#questions -->
  </div>

</ion-content>