<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- profil fotoğrafı -->
  <ion-list mode="ios" lines="none">
    <ion-list-header>
      <ion-label>Profil Fotoğrafı</ion-label>
    </ion-list-header>
    <ion-item>
      <div class="profile-picture-area" (click) = "uploadAvatar()">
        <div class="profile-picture-box">
          <img src="{{postData.AvatarImage}}" />
          <p class="edit">Fotoğrafı Düzenle</p>
        </div>
      </div>
    </ion-item>
    <ion-item style="display:none">
      <input type="file" id="AvatarFile" (change)="AvatarChangeEvent($event.target.files)">
    </ion-item>
  </ion-list>
  <!--#profil fotoğrafı -->

  <!-- kapak fotoğrafı -->
  <ion-list mode="ios" lines="none">
    <ion-list-header>
      <ion-label>Kapak Fotoğrafı</ion-label>
    </ion-list-header>
    <ion-item>
      <div class="cover-picture-area" (click) = "uploadCover()">
        <div class="cover-picture-box">
          <img src="{{postData.CoverImage}}" />
          <p class="edit">Kapak Fotoğrafını Düzenle</p>
        </div>
      </div>
    </ion-item>
    <ion-item style="display:none">
      <input type="file" id="CoverFile" (change)="CoverChangeEvent($event.target.files)">
    </ion-item>
  </ion-list>
  <!--#kapak fotoğrafı -->

  <!-- inputs -->
  
  <ion-list mode="ios" lines="full" class="ion-no-margin ion-no-padding">
    <ion-list-header> 
      <ion-label>Hesap Bilgileri</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">Kullanıcı Adı</ion-label>
      <ion-input type="text" value="{{postData.Username}}" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Şifre <ion-text color="danger">* Boş bırakırsanız mevcut şifre kullanılır.</ion-text></ion-label>
      <ion-input type="password" [(ngModel)]="postData.Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ad ve Soyad <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" [(ngModel)]="postData.Fullname"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="postData.Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Adres</ion-label>
      <ion-input type="text" [(ngModel)]="postData.Address"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="full" class="ion-no-margin" (click) = "update()">Güncelle</ion-button>
  </div>
  
  <!--#inputs -->
</ion-content>
