<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <!-- title -->
      <ion-row>
        <ion-col size="12">
          <h3>Etiketler</h3>
          <p>Etiket, sorunuzu diğer benzer sorularla kategorize eden bir anahtar kelimedir. Doğru etiketleri kullanmak, başkalarının sorunuzu bulmasını ve yanıtlamasını kolaylaştırır.</p>
        </ion-col>
      </ion-row>
      <!--#title -->

      <!-- search and filter -->
      <ion-row>
        <ion-col size="12" size-md>
          <ion-searchbar mode="ios" animated placeholder="bir etiket giriniz."></ion-searchbar>
        </ion-col>
        <ion-col size="12" size-md class="ion-align-self-center">
          <ion-segment color="dark" mode="ios" value="interest">
            <ion-segment-button value="interest">
              <ion-label>Popüler</ion-label>
            </ion-segment-button>
            <ion-segment-button value="hot">
              <ion-label>A-Z</ion-label>
            </ion-segment-button>
            <ion-segment-button value="week">
              <ion-label>Yeni</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!--#search and filter -->

      <ion-row>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. 
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. 
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. 
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. JavaScript ile yazılan istemci tarafı betikler sayesinde tarayıcının kullanıcıyla...
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
        <ion-col size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>javascript</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                JavaScript, yaygın olarak web tarayıcılarında kullanılmakta olan dinamik bir programlama dilidir. 
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">1965762 soru</span>
                <span class="tag-activity">918 bugün, 5224 bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
