<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <!-- title -->
      <ion-row>
        <ion-col size="12">
          <h3>Etiketler</h3>
          <p>Etiket, sorunuzu diğer benzer sorularla kategorize eden bir anahtar kelimedir. Doğru etiketleri kullanmak, başkalarının sorunuzu bulmasını ve yanıtlamasını kolaylaştırır.</p>
        </ion-col>
      </ion-row>
      <!--#title -->

      <!-- search and filter -->
      <ion-row>
        <ion-col size="12" size-md>
          <ion-searchbar mode="ios" animated placeholder="bir etiket giriniz." (ionChange)="filterText($event)"></ion-searchbar>
        </ion-col>
        <ion-col size="12" size-md class="ion-align-self-center">
          <ion-segment color="dark" mode="ios" value="{{defaultSegment}}" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="popular">
              <ion-label>Popüler</ion-label>
            </ion-segment-button>
            <ion-segment-button value="asc">
              <ion-label>A-Z</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!--#search and filter -->

      <ion-row>
        <ion-col *ngFor="let tag of tags | tagsFilter : textFilter" size="12" size-md>
          <!-- tags -->
            <div class="tag-area">
              <div class="icon">
                <ion-chip color="primary" routerLink="/board/tag/{{tag.TagID}}/{{tag.TagName}}">
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-label>{{tag.TagName}}</ion-label>
                </ion-chip>
              </div>
              <div class="tag-content">
                {{tag.TagInformation}}
              </div>
              <div class="tag-bottom">
                <span class="tag-questions">{{tag.QuestionCount}} soru</span>
                <span class="tag-activity">{{tag.TodayCount}} bugün, {{tag.WeekCount}} bu hafta</span>
              </div>
            </div>
          <!--#tags -->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
