<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- profile header -->
  <div class="profile-header">
    <div class="profile-banner profile-header-bg" style="background-image: url({{API_URL}}{{profileData.CoverImage}});"></div>
    
    <div class="container">
      <div class="profile-picture-box">
        <div class="profile-picture"><img src="{{API_URL}}{{profileData.AvatarImage}}" /></div>
      </div>

      <div class="profile-info">
        <div class="profile-name">
          <span>{{profileData.Fullname}} <span class="username">(@{{profileData.Username}})</span></span>
        </div>
  
        <div class="contact-info">
          <div class="info">
            <span class="icon"><ion-icon name="location"></ion-icon></span>
            <span class="text">{{profileData.Address}}</span>
          </div>
          <div class="info">
            <span class="icon"><ion-icon name="calendar"></ion-icon></span>
            <span class="text">{{profileData.RegisterDate}} üye oldu</span>
          </div>
        </div>

        <div class="contact-info">
          <div class="info">
            <span class="icon"><ion-icon name="eye"></ion-icon></span>
            <span class="text">{{profileData.ProfileViews}} profil görüntülemesi</span>
          </div>
          <div class="info">
            <span class="icon"><ion-icon name="time"></ion-icon></span>
            <span class="text">{{profileData.LastSeen}} son aktivite</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#profile header -->

  <!-- mobile -->
  <div class="contact-info-mobile">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md><span class="icon"><ion-icon name="location"></ion-icon></span>
          <span class="text">{{profileData.Address}}</span></ion-col>
        <ion-col size="12" size-md><span class="icon"><ion-icon name="calendar"></ion-icon></span>
          <span class="text">{{profileData.RegisterDate}} üye oldu</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md><span class="icon"><ion-icon name="eye"></ion-icon></span>
          <span class="text">{{profileData.ProfileViews}} profil görüntülemesi</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md><span class="icon"><ion-icon name="time"></ion-icon></span>
          <span class="text">{{profileData.LastSeen}} son aktivite</span></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- #mobile -->

  <!-- profile content -->
  <div class="profile-content container">
    <ion-toolbar mode="md" class="desktop">
      <ion-grid>
        <ion-row>
          <ion-col><ion-title><span class="score">{{profileData.Reputation}}</span> <span class="point">Puan</span></ion-title></ion-col>
          <ion-col><ion-title><span class="score">{{profileData.AnswerCount}}</span> <span class="point">Cevap</span></ion-title></ion-col>
          <ion-col><ion-title><span class="score">{{profileData.AskedCount}}</span> <span class="point">Soru</span></ion-title></ion-col>
          <ion-col><ion-title><span class="score">{{interaction}}</span> <span class="point">Etkileşim</span></ion-title></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    <div>
      <ion-toolbar mode="md" class="mobile">
        <ion-grid>
          <ion-row>
            <ion-col><ion-title><div class="score">{{profileData.Reputation}}</div> <div class="point">Puan</div></ion-title></ion-col>
            <ion-col><ion-title><div class="score">{{profileData.AnswerCount}}</div> <div class="point">Cevap</div></ion-title></ion-col>
          </ion-row>
          <ion-row> 
            <ion-col><ion-title><div class="score">{{profileData.AskedCount}}</div> <div class="point">Soru</div></ion-title></ion-col>
            <ion-col><ion-title><div class="score">{{interaction}}</div> <div class="point">Etkileşim</div></ion-title></ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </div>
  </div>
  <!--#profile content -->

  <!-- topics -->
  <div class="topics container">
    <ion-list lines="full">
      <ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-no-padding">
              <h2>Sorular <span>({{profileData.QuestionCount}})</span></h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md>
              <ion-segment mode="ios" value="{{postData.filter.type}}" (ionChange)="filterSegmentChanged($event)">
                <ion-segment-button value="all">
                  <ion-label>Tümü</ion-label>
                </ion-segment-button>
                <ion-segment-button value="asked">
                  <ion-label>Sordukları</ion-label>
                </ion-segment-button>
                <ion-segment-button value="answered">
                  <ion-label>Cevapladıkları</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
            <ion-col size="12" size-md>
              <ion-segment mode="ios" value="{{postData.filter.sort}}" (ionChange)="sortSegmentChanged($event)">
                <ion-segment-button value="popular">
                  <ion-label>Popüler</ion-label>
                </ion-segment-button>
                <ion-segment-button value="new">
                  <ion-label>Yeni</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list-header>
  
      <ion-item *ngFor="let question of profileData.Questions" routerLink="/board/show-question/{{question.QuestionID}}">
        <ion-badge slot="start" [color]="question.Status == '1' ? 'success' : 'medium'">{{question.Reputation}}</ion-badge>
        <ion-note mode="md"  slot="end">{{question.UpdateDateString}}</ion-note>
        <ion-label>{{question.Title}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!--#topics -->

  <!-- tags -->
  <div class="tags container">
    <ion-list lines="full">
      <ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>Etiketler <span>({{profileData.TagCount}})</span></h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list-header>
  
      <ion-item *ngFor="let tag of profileData.Tags" routerLink="/board/tag/{{tag.TagID}}/{{tag.TagName}}">
        <ion-label>{{tag.TagName}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!--#tags -->
</ion-content>
