.message{
    padding:10px;
    border-radius: 10px;
    margin-bottom:4px;
    white-space: pre-wrap;
    font-weight: 300;
}

.other-message{
    background:#d6d6d6;
    color:#404040;
}

.my-message{
    background: rgb(158,35,168);
    background: linear-gradient(180deg, rgba(158,35,168,1) 0%, rgba(126,61,255,1) 100%);
    color:#fff;
}

.message-input {
    width:100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background:#fff;
    resize:none;
    padding-left:10px;
    padding-right:10px;
}
.message-button{
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}

.time {
    font-size:12px;
}

ion-row {
    padding-bottom:10px;
}
