$text-color: #ebebeb;
$headline-color: #ffa61b;

ion-content {
    height: 100%;
    --background:#17191b;
    // page background
    .bg {
        background-image: url("../../../../assets/images/bg.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        // desktop resolution
        .desktop {
            display: block;
            background-color:none;
            width:1250px;
            margin:0 auto;
            padding-top:10%;

            // logo
            .logo img {
                width: 500px;
            }

            // left side
            .left-side
            {
                float:left;
                width: 500px;
                p {
                    color: $text-color;
                    line-height: 2em;
                    font-weight: 300;
                    text-align: justify;
                    span {
                        color:$headline-color;
                        font-weight: 700;
                    }
                }
                
            }

            //right side
            .right-side
            {
                float:left;
                width:600px;
                margin-top:-17px;
                margin-left: 150px;
                // h1 headline
                h1 {
                    color :$headline-color;
                    font-size: 32px;
                    font-weight: 600;
                    margin-left:-10px;
                    margin-bottom:37px;
                }

                .bg-transparent {
                    background: transparent;
                }

                // form operations
                form {
                    margin-left:-10px;
                    ion-item {
                        --padding-bottom:10px;
                        ion-input {
                            font-family: 'Inter';
                            border: 1px solid #ffffff14;
                            border-radius: 5px;
                            font-size: 14px;
                            color: $text-color;
                            padding-left:10px!important;
                            padding-right:10px!important;
                            height:45px;
                        }

                        //seperator
                        .seperator {
                            max-width: 50%;  
                            margin: 0px auto;

                            .hr-text {
                                font-family: 'Inter';
                                line-height: 1em;
                                outline: 0;
                                border: 0;
                                color: black;
                                text-align: center;
                                font-size:13px;
                                height: 1.5em;
                                &:before {
                                    content: '';
                                    //background: linear-gradient(to right, transparent, #818078, transparent);
                                    background: #ffffff0d;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    width: 97%;
                                    margin-left: 2px;
                                    height: 1px;
                                }
                                &:after {
                                    content: attr(data-content);
                                    position: relative;
                                    display: inline-block;
                                    padding: 0 .5em;
                                    line-height: 1.5em;
                                    color: $text-color;
                                    background-color: #17191b;
                                }
                            }
                        }

                        // login with social media
                        .loginSM{
                            color: $text-color;
                            font-size:14px;
                            font-family: 'Inter';
                            margin-top:-10px;
                        }

                        // social media icons
                        .iconSM {
                            ion-button {
                                --background: none;
                                --background-hover:none;
                                --background-activated:none;
                                font-size:16px;
                                color:$text-color;
                            }
                            ion-button:hover {
                                color:#fff;
                            }
                        }

                        // login button
                        .loginButton {
                            margin-top:0;
                            ion-button.loginButton {
                                width: 71px;
                                height: 72px;
                                --border-radius: 50%;
                    
                                ion-icon {
                                    font-size:24px;
                                }
                            }
                        }

                        // register
                        .register {
                            color: $text-color;
                            span {
                                color:$headline-color;
                            }
                            a {
                                text-decoration:none;
                                color:$headline-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*************** for mobile ***************/
// 1300px resolution
@media only screen and (max-width: 1300px) {
    // desktop
    .desktop {
        width: 900px!important;
        // description
        p.description {
            display:none;
        }

        // left side
        .left-side {
            float:none;
            margin-left:190px;
            margin-bottom:40px;
        }

        // right side
        .right-side {
            float:none;
            h1 {
                font-size:25px!important;
                text-align:center;
            }
        }
    }
}

// 860px resolution
@media only screen and (max-width: 860px) {
    // desktop
    .desktop {
        width: 700px!important;
        margin-left:-30px!important;
    }
}

// 768px resolution
@media only screen and (max-width: 768px) {
    // desktop
    .desktop {
        margin-left:-55px!important;
    }
}

// 640px resolution
@media only screen and (max-width: 640px) {
    // desktop
    .desktop {
        margin-left:-116px!important;
    }
}

// 600px resolution
@media only screen and (max-width: 600px) {
    // desktop
    .desktop {
        margin-left:-75px!important;
        padding-top:30%!important;
        // logo
        .logo img {
            width: 70%!important;
            margin-left: 25px;
        }
        // right side
        .right-side {
            width:480px!important;
            h1 {
                font-size:18px!important;
                margin-left:-10px!important;
            }
        }
    }
}
  
// 480px resolution
@media only screen and (max-width: 480px) {
    // desktop
    .desktop {
        margin-left:-120px!important;
        // logo
        .logo img {
            width: 60%!important;
            //margin-left: 25px;
        }
        // right side
        .right-side {
            width:445px!important;
            h1 {
                font-size:18px!important;
                margin-left:-10px!important;
            }
        }
    }
}

// 414px resolution
@media only screen and (max-width: 414px) {
    // desktop
    .desktop {
        margin:0!important;
        // logo
        .logo img {
            width: 50%!important;
            margin-left:-99px!important;
        }
        // right side
        .right-side {
            width:360px!important;
            margin-left: 40px !important;
            h1 {
                font-size:18px!important;
                margin-left:-10px!important;
            }
        }
    }
}

// 375px resolution
@media only screen and (max-width: 375px) {
    // desktop
    .desktop {
        
        // logo
        .logo img {
            margin-left:-121px!important;
        }
        // right side
        .right-side {
            width:320px!important;
        }
    }
}

// 360px resolution
@media only screen and (max-width: 360px) {
    // desktop
    .desktop {
        // logo
        .logo img {
            width: 40%!important;
            margin-left:-102px!important;
        }
        // right side
        .right-side {
            width:310px!important;
            h1 {
                font-size:16px!important;
                margin-left:-10px!important;
            }
        }
    }
}

// 320px resolution
@media only screen and (max-width: 320px) {
    // desktop
    .desktop {
        // logo
        .logo img {
            margin-left:-125px!important;
        }
        // right side
        .right-side {
            width:260px!important;
            margin-top:-50px!important;
            h1 {
                font-size:16px!important;
                margin-left:-15px!important;
            }

            // login with social media
            .loginSM{
                font-size:12px!important;
            }

            // social media icons
            .iconSM {
                ion-button {
                    font-size:11px!important;
                }
            }

            // login button
            .loginButton {
                ion-button.loginButton {
                    width: 50px!important;
                    height: 50px!important;
                }
            }

            // register
            .register {
                p {
                    
                    font-size:11px!important;
                }
                color: $text-color;
                span {
                    color:$headline-color;
                }
                a {
                    text-decoration:none;
                    color:$headline-color;
                }
            }
        }
    }
}

// 740px max height
@media only screen and (max-height:740px)
{
    // desktop
    .desktop {
        padding-top:15%!important;
    }
}

// 736px max height
@media only screen and (max-height:736px)
{
    // desktop
    .desktop {
        padding-top:15%!important;
    }
}

// 667px max height
@media only screen and (max-height:667px)
{
    // desktop
    .desktop {
        padding-top:8%!important;

        // logo
        .logo img {
            margin-top:30px!important;
            margin-bottom:-30px!important;
        }
    }
}

// 568px max height
@media only screen and (max-height:568px)
{
    // desktop
    .desktop {
        padding-top:8%!important;

        // logo
        .logo img {
            margin-top:30px!important;
            margin-bottom:5px!important;
        }

        form {
            margin-top:-15px!important;
        }
    }
}